* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  position: fixed;
  width: 100%;
  background-color: #312f2f;
  z-index: 15;
}

nav h1 a {
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.784);
  font-size: 17px;
}

nav ul li a:hover {
  color: white;
}

#hero {
  padding-top: 80px;
  background-color: #333;
  height: 100vh;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  align-items: center;
}

.hero-img {
  position: sticky;
}

.hero-img img {
  max-height: 622px;
  max-width: 800px;
}

.hero-left-content h2 {
  font-size: 30px;
  color: white;
}

.hero-left-content h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
}

.hero-content p {
  color: white;
  font-size: 18px;
  line-height: 2;
}

.hero-btn {
  margin-top: 20px;
}

.hero-btn-1 {
  padding: 10px 40px 10px 40px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: rgba(29, 29, 189, 0.637);
  outline: none;
  border: transparent;
}

.hero-btn-1:hover {
  background-color: cadetblue;
  transition: all 5s ease;
}

.hero-btn-2 {
  padding: 10px 40px 10px 40px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: rgba(29, 29, 189, 0.637);
  outline: none;
  border: transparent;
  margin-left: 20px;
}

.hero-btn-2:hover {
  background-color: cadetblue;
  transition: all 5s ease;
}

#click {
  display: none;
}

nav label {
  display: none;
  color: white;
}

#about {
  background-color: #312f2f;
  padding-top: 50px;
  color: white;
  padding-bottom: 100px;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 120px;
  padding-right: 120px;
  gap: 80px;
}

.about-content {
  width: 110%;
}

.about-content h3 {
  padding-bottom: 10px;
}

.about-content h2 {
  padding-bottom: 10px;
}

.about-content p {
  padding-bottom: 10px;
}

.about-content h4 i {
  margin: 2px;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  background-color: #163d4d;
}

.about-content h4 i:hover {
  background-color: #2991ba;
}

.about-btn {
  margin-top: 30px;
  margin-bottom: 10px;
}

.about-btn-1 {
  padding: 15px 40px 15px 40px;
  margin-right: 20px;
  font-weight: bold;
  color: white;
  background-color: #3e57d0;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.about-btn-2 {
  background-color: #ffbd39;
  padding: 15px 40px 15px 40px;
  margin-right: 20px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.about-div-elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  align-content: center;
  align-items: center;
}

.about-box {
  width: 250px;
  height: 150px;
  margin: 10px;
  background-color: #3e3c3c;
  align-content: center;
  text-align: center;
}
.about-box > h1 {
  font-size: 48px;
}

.service-content {
  padding: 100px 0px 70px;
}

.all-heading {
  text-align: center;
}
.all-heading > h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  nav label {
    display: block;
    font-size: 25px;
  }
  nav ul {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 70%;
    background-color: black;
    display: none;
  }
  #click:checked ~ nav ul {
    display: block;
    margin-left: 120px;
  }
  #hero {
    height: auto;
  }
  .hero-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
    gap: 50px;
  }
  .about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 120px;
    padding-right: 120px;
    gap: 80px;
  }
}/*# sourceMappingURL=styl.css.map */